@model лр5.Models.Hospital_need_medicine

@{
    ViewBag.Title = "Подробности";
}

<h2>Подробности</h2>

<div>
    <h4>Больницам требуются лекарства</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.quantity_of_packs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity_of_packs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hospital.addresHospital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hospital.addresHospital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine.name_of_medicine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine.name_of_medicine)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.id_Hospital_need_medicine }) |
    @Html.ActionLink("Назад", "Index")
</p>
