@model лр5.Models.Medicine

@{
    ViewBag.Title = "Удалить";
}

<h2>Удалить</h2>

<h3>Вы действительно хотите удалить эту запись?</h3>
<div>
    <h4>Лекарства</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name_of_medicine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_of_medicine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firm_of_medicine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firm_of_medicine)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
