@model лр5.Models.Medicine

@{
    ViewBag.Title = "Подробности";
}

<h2>Подробности</h2>

<div>
    <h4>Лекарства</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name_of_medicine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_of_medicine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firm_of_medicine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firm_of_medicine)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.idMedicine }) |
    @Html.ActionLink("Назад", "Index")
</p>
