@model IEnumerable<лр5.Models.Hospital>

@{
    ViewBag.Title = "Больницы";
}

<h2>Больницы</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.addresHospital)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.addresHospital)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.idHospital }) |
            @Html.ActionLink("Подробности", "Details", new { id=item.idHospital }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.idHospital })
        </td>
    </tr>
}

</table>
